* {
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

/* nav bar top */
body {
    overflow: hidden;
    font-size: 1vw;
    color: white;
}

.navtop {
    height: 7vh;
    width: 100vw;
    top:6.9vh;
    clear: both;
    background-color: #1c1c1c;
    /* border-bottom:0.1vw solid#cccccc5b; */
    display: flex;
    align-items: center;
    color: white;
    padding-left: 0.4vw;
}

.navtop img {
    filter: invert(100%);
    height: 2vw;
    color-interpolation-filters: invers;
}

.navleft {
    background-color: #1c1c1c;
    height: 93vh;
    width: 3vw;
    position: absolute;
    border-right:0.1vw solid#cccccc5b;
}

.subnav1 {
    /* position: absolute; */
    width: 35.8vw;
    background-color: #2d2d2d;
    height: 10vh;
    /* border-left:0.1vw solid#cccccc5b; */
    border-right:0.1vw solid#cccccc5b;
}

.contact-container {
    background-color: #0b141a;
    height: 95vh;
    width: 36vw;
    position: absolute;
    top: 7vh;
    left: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact {
    display: flex;
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.262);
    height: 9vh;
    width: 35vw;
    align-items: center;
    margin: 0.1vw;
    border-radius: 0.2vw;
}
.contact:hover{
    background-color:#2d2d2d;

}

.contact img {
    height: fit-content;
    width: 2.5vw;
    /* border: 0.1vw solid black; */
    border-radius: 100px;
}





.subnav2 {
    /* position: absolute; */
    width: 61vw;
    background-color: #2d2d2d;
    height: 10vh;
}

.main-container {
    position: absolute;
    overflow-y: auto;
    top: 7vh;
    right: 0vw;
    
}

#chat-container {
    border: 0.1vw solid #ccc;
    display: flex;
    padding: 0.4vh 0.5vw;
    margin-bottom: 1vw;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    width: 60vw;
    background-color: #0b141a;
    z-index: 0;
    opacity: 2;
    background-image: url("./bg.png");
    background-position: center;
    /* background-repeat: no-repeat; */
}
/* .contact::before{
    content: "";
    display: block;
    width: 700px;
    height: 800px;
    background-image: url("./bg.png");
} */
/* .imgs::after
{
    content: "";
    display: block;
    display: block;
    width: 700px;
    height: 800px;
    
   
    z-index: 0;
} */
#chat-messages {
    /* height: 90vh; */
    display: block;
}

.chat{
    border: 0.1vw solid rgb(255, 255, 255);
    border-radius: 2vw;
    /* min-width: 2px; */
    padding: 0.3vw 2.6vw;
    color: white;background-color: #0b141a;
    z-index: 1;
    margin: 0.3vw;
 

}
.left {
    float: left;
    clear: both;
   
}

.right {
    float: right;
    clear: both;
  
}

.input {
    display: flex;
    justify-content: space-around;
}

#message-input {
    width: 37vw;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #ccc;
    font-size: 1vw;
    background: #0b141a;
    color: white;

}

#send-button {
    font-size: 1vw;
    width: 6vw;
    padding: 0.5vw;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.3vw;
    cursor: pointer;
}